body {
  background-color: #e0f7fa; /* Light blue background for the entire page */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1{
  display:grid;
  justify-content:center;
  margin: auto;
}
@media (max-width: 2560px) {
  h1{
  margin: 20px;
  font-size: 30px;
  }
}
@media (max-width: 1680px) {
  h1{
  margin: 20px;
  font-size: 25px;
  }
}
@media (max-width: 1400px) {
  h1{
  margin: 20px;
  font-size: 25px;
  }
}
@media (max-width: 425px) {
  h1{
  margin: 15px;
  font-size: 22px;
  }
}
@media (max-width: 320px) {
  h1{
  margin: 12px;
  font-size: 15px;
  }
}